<!DOCTYPE html>
<html lang="en" ng-app="misFinanzas">
<head>
  <title>Mis Finanzas - Index</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="public/styles/libs.min.css">
  <link rel="stylesheet" href="public/styles/styles.min.css">

</head>
<body>
<div change-menu>
  <section id="nav">
    <div class="bg-white">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="logo"><a href="">Mis Finanzas</a></h1>
            <nav id="main-menu" class="clearfix hide-xs">
              <ul class="main-menu list-unstyled clearfix">
                <li class="active"><a href="">inicio</a></li>
                <li><a href="">iniciar sesión</a></li>
              </ul>
              <a href="" class="my-btn btn-1">REGISTRATE</a>
            </nav>
            <div class="toggler-wrapper show-xs">
              <span class="toggler collapsed" data-toggle="collapse" data-target="#nav-mobile">Toggler</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <nav id="nav-mobile" class="collapse">
    <ul class="list-unstyled">
      <li class="active"><a href="">inicio</a></li>
      <li><a href="">iniciar sesión</a></li>
      <li><a href="">Registrate</a></li>
    </ul>
  </nav>
  <header id="home-header" class="header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-6">
          <div class="header-wrapper home">
            <div class="header-home-text">
              <h1>Maneja tus finanzas en un solo lugar</h1>

              <p>Obtiene una visión completa de tus finanzas personales. Toma control de forma rápida, sencilla y
                gratis.
                Crea presupuestos, controla tus gastos y alcanza tus metas financieras!</p>

              <div class="links clearfix hide-xs">
                <a href="" class="my-btn btn-1">registrate</a>

                <p class="quotes-1 hide-xs"><span><span>¡Es gratis!</span></span></p>
              </div>

              <div class="links clearfix show-xs">
                <a href="" class="my-btn btn-1">Descarga el App</a>

                <p class="quotes-1 hide-xs"><span><span>¡Es gratis!</span></span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-6">
          <div class="header-wrapper home hand-wrapper">
            <img enter-element class="hand" src="public/images/hand-home.png" alt=""/>
          </div>
        </div>
      </div>
    </div>
    <div class="home-header-bottom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-5 col-lg-6 hide-xs">
            <div class="home-header-bottom-wrapper">
              <div class="store-links">
                <a href="" class="link-store apple-store">Apple Store</a>
                <a href="" class="link-store google-store">Google Store</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-7 col-lg-6">
            <div class="home-header-bottom-wrapper hide-xs">
              <a href="" class="my-link link-1">Conoce más acerca de Mis Finanzas</a>
            </div>

            <div class="home-header-bottom-wrapper show-xs">
              <a href="" class="my-link link-1">Ver Video</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img class="lines" src="public/images/lines-header.png" alt=""/>
  </header>
  <section id="features" class="site-padding-double site-border-bottom hide-xs" ng-controller="FeaturesController">
    <img class="lines" src="public/images/lines-features.png" alt=""/>

    <div class="container">
      <div class="row" in-view="showThem($inview)" in-view-options="{ offsetTop: 300 }">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 fade-in" ng-repeat="feature in features">
          <div class="feature" ng-class="{marginBottom: $index < 2}">
            <img ng-src="{{feature.image}}" alt=""/>
            <h4>{{feature.title}}</h4>

            <p>{{feature.content}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="features-mobile" class="site-padding-double site-border-bottom show-xs"
           ng-controller="FeaturesMobileController">
    <img class="lines" src="public/images/lines-features.png" alt=""/>

    <div class="container">
      <div class="row" in-view="showThem($inview)">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="features-carousel owl-carousel" owl-single-nav>
            <div class="feature" ng-repeat="feature in features">
              <img ng-src="{{feature.image}}" alt=""/>
              <h4>{{feature.title}}</h4>

              <p>{{feature.content}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="small-features" class="site-padding" ng-controller="FeaturesSmallController" in-view="showThem($inview)"
           in-view-options="{ offsetTop: 200 }">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3 class="site-subtitle">Mis Finanzas hace tu vida más sencilla de múltiples maneras</h3>
        </div>

        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 fade-in" ng-repeat="feature in features">
          <div class="small-feature" ng-class="{'noMargin': $index == 4 || $index == 5}">
            <div><img ng-src="{{feature.image}}" alt=""/></div>
            <h4>{{feature.title}}</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="analyze">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 hide-xs">
          <div class="analyze-wrapper">
            <img class="phone" src="public/images/phone-1.png" alt=""/>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="analyze-wrapper auto">
            <h3 class="site-title-left hide-xs">Analiza tus gastos <br/>e ingresos</h3>

            <h3 class="site-title-centered show-xs">Analiza tus gastos e ingresos</h3>

            <p>¿En qué gastaste más este mes? ¿Alimentación? ¿Hogar? ó ¿Entretenimiento? Tus gastos se organizan de
              forma
              automática para que siempre puedas saber cómo y en qué utilizas tu dinero. </p>

            <p>Conoce las diferentes categorías e incluso crea tus propias para asegurarte que tus gastos se organicen
              según tu preferencia. Será fácil tomar decisiones sobre cómo gastar o ahorrar.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 show-xs">
          <div class="analyze-wrapper">
            <img class="phone" src="public/images/phone-1.png" alt=""/>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="goals" class="site-padding-double" ng-controller="GoalsController" in-view="showThem($inview)"
           in-view-options="{ offsetTop: 500 }">
    <div class="container">
      <div class="row hide-xs">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="goals-text">
            <h3 class="site-title-centered">Alcanza tus metas financieras</h3>

            <p>¿Cuánto quieres ahorrar y para qué? ¿En cuánto tiempo quieres alcanzar tu meta?</p>

            <p>Define tus metas de ahorro, podrás darles seguimiento y saber qué tanto te vas <br/>acercando a
              cumplirlas.
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 gray-bg-right">
          <div class="goal" ng-class="getClass(vacationsMax, vacationsValue)">
            <div class="slider-wrapper">
              <div
                round-progress
                max="vacationsMax"
                current="vacationsValue"
                color="{{getColor(vacationsMax, vacationsValue)}}"
                bgcolor="#c7cbd2"
                radius="75"
                stroke="13"
                clockwise="false"
                iterations="50"
                animation="easeInOutQuart">
              </div>
              <div class="goal-meta">
                <div ng-hide="getClass(vacationsMax, vacationsValue) == 'green'"><img src="public/images/ico-goal-1.png"
                                                                                      alt=""/></div>
                <div ng-show="getClass(vacationsMax, vacationsValue) == 'green'"><img
                  src="public/images/ico-goal-1-color.png" alt=""/></div>
                <span
                  ng-hide="getClass(vacationsMax, vacationsValue) == 'green'">{{vacationsValue | currency:'$':0}}</span>
                <img ng-show="getClass(vacationsMax, vacationsValue) == 'green'" src="public/images/check.png" alt=""/>
              </div>
            </div>
            <div class="goal-amount">
              <h5>Meta</h5>
              <span>{{vacationsMax | currency:'$':0}}</span>
            </div>
            <p>Vacaciones</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 gray-bg-right">
          <div class="goal" ng-class="getClass(universityMax, universityValue)">
            <div class="slider-wrapper">
              <div
                round-progress
                max="universityMax"
                current="universityValue"
                color="{{getColor(universityMax, universityValue)}}"
                bgcolor="#c7cbd2"
                radius="75"
                stroke="13"
                clockwise="false"
                iterations="50"
                animation="easeInOutQuart">
              </div>
              <div class="goal-meta">
                <div ng-hide="getClass(universityMax, universityValue) == 'green'"><img
                  src="public/images/ico-goal-2.png" alt=""/></div>
                <div ng-show="getClass(universityMax, universityValue) == 'green'"><img
                  src="public/images/ico-goal-2-color.png" alt=""/></div>
                <span
                  ng-hide="getClass(universityMax, universityValue) == 'green'">{{universityValue | currency:'$':0}}</span>
                <img ng-show="getClass(universityMax, universityValue) == 'green'" src="public/images/check.png"
                     alt=""/>
              </div>
            </div>
            <div class="goal-amount">
              <h5>Meta</h5>
              <span>{{universityMax | currency:'$':0}}</span>
            </div>
            <p>Matrícula Universidad</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 gray-bg-right">
          <div class="goal" ng-class="getClass(concertMax, concertValue)">
            <div class="slider-wrapper">
              <div
                round-progress
                max="concertMax"
                current="concertValue"
                color="{{getColor(concertMax, concertValue)}}"
                bgcolor="#c7cbd2"
                radius="75"
                stroke="13"
                clockwise="false"
                iterations="50"
                animation="easeInOutQuart">
              </div>
              <div class="goal-meta">
                <div ng-hide="getClass(concertMax, concertValue) == 'green'"><img src="public/images/ico-goal-3.png"
                                                                                  alt=""/></div>
                <div ng-show="getClass(concertMax, concertValue) == 'green'"><img
                  src="public/images/ico-goal-3-color.png" alt=""/></div>
                <span ng-hide="getClass(concertMax, concertValue) == 'green'">{{concertValue | currency:'$':0}}</span>
                <img ng-show="getClass(concertMax, concertValue) == 'green'" src="public/images/check.png" alt=""/>
              </div>
            </div>
            <div class="goal-amount">
              <h5>Meta</h5>
              <span>{{concertMax | currency:'$':0}}</span>
            </div>
            <p>Concierto</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="goal" ng-class="getClass(carMax, carValue)">
            <div class="slider-wrapper">
              <div
                round-progress
                max="carMax"
                current="carValue"
                color="{{getColor(carMax, carValue)}}"
                bgcolor="#c7cbd2"
                radius="75"
                stroke="13"
                clockwise="false"
                iterations="50"
                animation="easeInOutQuart">
              </div>
              <div class="goal-meta">
                <div ng-hide="getClass(carMax, carValue) == 'green'"><img src="public/images/ico-goal-4.png" alt=""/>
                </div>
                <div ng-show="getClass(carMax, carValue) == 'green'"><img src="public/images/ico-goal-4-color.png"
                                                                          alt=""/></div>
                <span ng-hide="getClass(carMax, carValue) == 'green'">{{carValue | currency:'$':0}}</span>
                <img ng-show="getClass(carMax, carValue) == 'green'" src="public/images/check.png" alt=""/>
              </div>
            </div>
            <div class="goal-amount">
              <h5>Meta</h5>
              <span>{{carMax | currency:'$':0}}</span>
            </div>
            <p>Arreglo Carro</p>
          </div>
        </div>
      </div>
      <div class="row show-xs">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="goals-text">
            <h3 class="site-title-centered">Alcanza tus metas financieras</h3>

            <p>¿Cuánto quieres ahorrar y para qué? ¿En cuánto tiempo quieres alcanzar tu meta?</p>

            <p>Define tus metas de ahorro, podrás darles seguimiento y saber qué tanto te vas <br/>acercando a
              cumplirlas.
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="goals-slider owl-carousel" owl-single-nav>
            <div class="goal" ng-class="getClass(vacationsMax, vacationsValue)">
              <div class="slider-wrapper">
                <div
                  round-progress
                  max="vacationsMax"
                  current="vacationsValue"
                  color="{{getColor(vacationsMax, vacationsValue)}}"
                  bgcolor="#c7cbd2"
                  radius="75"
                  stroke="13"
                  clockwise="false"
                  iterations="50"
                  animation="easeInOutQuart">
                </div>
                <div class="goal-meta">
                  <div ng-hide="getClass(vacationsMax, vacationsValue) == 'green'"><img
                    src="public/images/ico-goal-1.png"
                    alt=""/></div>
                  <div ng-show="getClass(vacationsMax, vacationsValue) == 'green'"><img
                    src="public/images/ico-goal-1-color.png" alt=""/></div>
                <span
                  ng-hide="getClass(vacationsMax, vacationsValue) == 'green'">{{vacationsValue | currency:'$':0}}</span>
                  <img ng-show="getClass(vacationsMax, vacationsValue) == 'green'" src="public/images/check.png"
                       alt=""/>
                </div>
              </div>
              <div class="goal-amount">
                <h5>Meta</h5>
                <span>{{vacationsMax | currency:'$':0}}</span>
              </div>
              <p>Vacaciones</p>
            </div>
            <div class="goal" ng-class="getClass(universityMax, universityValue)">
              <div class="slider-wrapper">
                <div
                  round-progress
                  max="universityMax"
                  current="universityValue"
                  color="{{getColor(universityMax, universityValue)}}"
                  bgcolor="#c7cbd2"
                  radius="75"
                  stroke="13"
                  clockwise="false"
                  iterations="50"
                  animation="easeInOutQuart">
                </div>
                <div class="goal-meta">
                  <div ng-hide="getClass(universityMax, universityValue) == 'green'"><img
                    src="public/images/ico-goal-2.png" alt=""/></div>
                  <div ng-show="getClass(universityMax, universityValue) == 'green'"><img
                    src="public/images/ico-goal-2-color.png" alt=""/></div>
                <span
                  ng-hide="getClass(universityMax, universityValue) == 'green'">{{universityValue | currency:'$':0}}</span>
                  <img ng-show="getClass(universityMax, universityValue) == 'green'" src="public/images/check.png"
                       alt=""/>
                </div>
              </div>
              <div class="goal-amount">
                <h5>Meta</h5>
                <span>{{universityMax | currency:'$':0}}</span>
              </div>
              <p>Matrícula Universidad</p>
            </div>
            <div class="goal" ng-class="getClass(concertMax, concertValue)">
              <div class="slider-wrapper">
                <div
                  round-progress
                  max="concertMax"
                  current="concertValue"
                  color="{{getColor(concertMax, concertValue)}}"
                  bgcolor="#c7cbd2"
                  radius="75"
                  stroke="13"
                  clockwise="false"
                  iterations="50"
                  animation="easeInOutQuart">
                </div>
                <div class="goal-meta">
                  <div ng-hide="getClass(concertMax, concertValue) == 'green'"><img src="public/images/ico-goal-3.png"
                                                                                    alt=""/></div>
                  <div ng-show="getClass(concertMax, concertValue) == 'green'"><img
                    src="public/images/ico-goal-3-color.png" alt=""/></div>
                  <span ng-hide="getClass(concertMax, concertValue) == 'green'">{{concertValue | currency:'$':0}}</span>
                  <img ng-show="getClass(concertMax, concertValue) == 'green'" src="public/images/check.png" alt=""/>
                </div>
              </div>
              <div class="goal-amount">
                <h5>Meta</h5>
                <span>{{concertMax | currency:'$':0}}</span>
              </div>
              <p>Concierto</p>
            </div>
            <div class="goal" ng-class="getClass(carMax, carValue)">
              <div class="slider-wrapper">
                <div
                  round-progress
                  max="carMax"
                  current="carValue"
                  color="{{getColor(carMax, carValue)}}"
                  bgcolor="#c7cbd2"
                  radius="75"
                  stroke="13"
                  clockwise="false"
                  iterations="50"
                  animation="easeInOutQuart">
                </div>
                <div class="goal-meta">
                  <div ng-hide="getClass(carMax, carValue) == 'green'"><img src="public/images/ico-goal-4.png" alt=""/>
                  </div>
                  <div ng-show="getClass(carMax, carValue) == 'green'"><img src="public/images/ico-goal-4-color.png"
                                                                            alt=""/></div>
                  <span ng-hide="getClass(carMax, carValue) == 'green'">{{carValue | currency:'$':0}}</span>
                  <img ng-show="getClass(carMax, carValue) == 'green'" src="public/images/check.png" alt=""/>
                </div>
              </div>
              <div class="goal-amount">
                <h5>Meta</h5>
                <span>{{carMax | currency:'$':0}}</span>
              </div>
              <p>Arreglo Carro</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="budgets" ng-controller="BudgetsController" in-view="showThem($inview)"
           in-view-options="{ offsetTop: 400 }">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-5 col-md-offset-1 col-md-5 col-lg-offset-1 col-lg-5 show-xs">
          <div class="budgets-text">
            <h3 class="site-title-centered">Define tus presupuestos</h3>

            <p>Crea tus presupuestos de gastos por categoría. Mis Finanzas los monitorea para que siempre puedas saber
              cómo vas con tus planes. Será sencillo tomar mejores decisiones financieras y cumplir tus metas de
              gastos. </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-offset-1 col-lg-5">
          <div class="budgets-wrapper">
            <div class="budget fade-in-show" ng-show="showFirst">
              <img ng-src="public/images/transporte-{{getClass(transportationMax, transportationVal)}}.png" alt=""/>
              <h5>Transporte <span>Presupuesto: <strong>{{transportationMax | currency:'$':0}}</strong></span></h5>

              <div>

                <div class="horizontal-slider" ng-class="getClass(transportationMax, transportationVal)">
                  <div style="{{getStyle(transportationMax, transportationVal, 'width')}}"></div>
                  <span style="{{getStyle(transportationMax, transportationVal, 'left')}}"><span>{{transportationVal | currency:'$':0}}</span></span>
                </div>
              </div>
            </div>

            <div class="budget fade-in-show" ng-show="showMedium">
              <img ng-src="public/images/supermercado-{{getClass(marketMax, marketVal)}}.png" alt=""/>
              <h5>supermercado <span>Presupuesto: <strong>{{marketMax | currency:'$':0}}</strong></span></h5>

              <div>

                <div class="horizontal-slider" ng-class="getClass(marketMax, marketVal)">
                  <div style="{{getStyle(marketMax, marketVal, 'width')}}"></div>
                  <span
                    style="{{getStyle(marketMax, marketVal, 'left')}}"><span>{{marketVal | currency:'$':0}}</span></span>
                </div>
              </div>
            </div>

            <div class="budget fade-in-show" ng-show="showLast">
              <img ng-src="public/images/restaurant-{{getClass(restaurantsMax, restaurantsVal)}}.png" alt=""/>
              <h5>restaurantes <span>Presupuesto: <strong>{{restaurantsMax | currency:'$':0}}</strong></span></h5>

              <div>

                <div class="horizontal-slider" ng-class="getClass(restaurantsMax, restaurantsVal)">
                  <div style="{{getStyle(restaurantsMax, restaurantsVal, 'width')}}"></div>
                  <span style="{{getStyle(restaurantsMax, restaurantsVal, 'left')}}"><span>{{restaurantsVal | currency:'$':0}}</span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-offset-1 col-sm-5 col-md-offset-1 col-md-5 col-lg-offset-1 col-lg-5 hide-xs">
          <div class="budgets-text">
            <h3 class="site-title-left">Define tus <br/>presupuestos</h3>

            <p>Crea tus presupuestos de gastos por categoría. Mis Finanzas los monitorea para que siempre puedas saber
              cómo vas con tus planes. Será sencillo tomar mejores decisiones financieras y cumplir tus metas de
              gastos. </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="platforms" class="site-padding-double" ng-controller="MainController" in-view="showThem($inview)"
           in-view-options="{ offsetTop: 300 }">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 show-s">
          <div class="platforms-text margin-bottom">
            <h3 class="site-title-left">Multi-Plataforma</h3>

            <p>No importa desde dónde. Podrás estar informado y en control de tus finanzas personales en cualquier
              momento
              y desde el dispositivo de tu preferencia.</p>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-xs-12 col-sm-4 col-md-5 col-lg-4">
          <div class="platforms-text hide-s">
            <h3 class="site-title-left hide-xs">Multi-Plataforma</h3>

            <h3 class="site-title-centered show-xs">Multi-Plataforma</h3>

            <p>No importa desde dónde. Podrás estar informado y en control de tus finanzas personales en cualquier
              momento
              y desde el dispositivo de tu preferencia.</p>

            <ul class="list-unstyled">
              <li>
                <div><img src="public/images/ico-platform-1.png" alt=""/></div>
                Móvil
              </li>
              <li>
                <div><img src="public/images/ico-platform-2.png" alt=""/></div>
                Tableta
              </li>
              <li>
                <div><img src="public/images/ico-platform-3.png" alt=""/></div>
                PC &amp; Laptop
              </li>
            </ul>
          </div>
          <div class="platforms-text show-s">
            <ul class="list-unstyled">
              <li>
                <div><img src="public/images/ico-platform-1.png" alt=""/></div>
                Móvil
              </li>
              <li>
                <div><img src="public/images/ico-platform-2.png" alt=""/></div>
                Tableta
              </li>
              <li>
                <div><img src="public/images/ico-platform-3.png" alt=""/></div>
                PC &amp; Laptop
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-7 col-lg-8">
          <div class="platforms-image">
            <img class="laptop" height-parent ng-show="isShowThem" src="public/images/platforms.png" alt=""/>
            <img class="tablet" ng-show="isShowThem" src="public/images/platforms-tablet.png" alt=""/>
            <img class="mobile" ng-show="isShowThem" src="public/images/platforms-mobile.png" alt=""/>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="options">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
          <div class="options-text first">
            <h4>¿Ya eres cliente de BAC Credomatic pero no <br/>tienes usuario de sucursal electrónica?</h4>

            <div class="links clearfix">
              <a href="" class="my-btn btn-2">solicita tu usuario </a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-5 col-lg-offset-2 col-lg-5">
          <div class="options-text last">
            <h4>¿No eres cliente de BAC Credomatic?</h4>

            <div class="links clearfix">
              <a href="" class="my-btn btn-3">solicita tu CUENTA</a>
              <a href="" class="my-btn btn-3">solicita tu TARJETA</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="start">
    <img src="public/images/lines-start-top.png" alt="" class="lines top"/>
    <img src="public/images/lines-start-bottom.png" alt="" class="lines bottom"/>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3>Comienza a organizar <br/>tus finanzas hoy</h3>

          <div class="hide-xs">
            <a href="" class="my-btn btn-1">¡registrate Ahora!</a>
          </div>

          <div class="show-xs">
            <a href="" class="my-btn btn-1">Descarga el app</a>
          </div>

          <p class="quotes-1"><span><span>¡Es gratis!</span></span></p>
        </div>
      </div>
    </div>
  </section>
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="footer-top-top show-xs">
            <h1 class="logo small"><a href="">Bac Credomatic</a></h1>
          </div>
          <div class="footer-top clearfix">
            <p class="cuenta">visita <span>123 cuenta</span> y Aprende más sobre finanzas personales</p>

            <h1 class="logo small hide-xs"><a href="">Bac Credomatic</a></h1>
          </div>
          <div class="footer-medium">
            <ul class="list-inline">
              <li><a href="">Términos y Condiciones</a></li>
              <li><a href="">Políticas de Privacidad</a></li>
              <li><a href="">Registro</a></li>
            </ul>
          </div>
          <div class="footer-bottom">
            2015&reg; Mis Finanzas - Todos los derechos reservados BAC | Credomatic Network
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
<script src="public/js/libs.min.js"></script>
<script src="public/js/main.min.js"></script>
</body>
</html>