/***************************
****************************
Colors & Vars
****************************
***************************/
/***************************
****************************
Responsive
****************************
***************************/
.show-xs,
.show-s,
.show-m,
.show-xl {
  display: none;
}
@media (min-width: 1200px) {
  .hide-xl {
    display: none !important;
  }
  .show-xl {
    display: block;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .hide-m {
    display: none !important;
  }
  .show-m {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .hide-s {
    display: none !important;
  }
  .show-s {
    display: block;
  }
}
@media (max-width: 767px) {
  .hide-xs {
    display: none !important;
  }
  .show-xs {
    display: block;
  }
}
/***************************
****************************
Fonts
****************************
***************************/
@font-face {
  font-family: 'open_sanssemibold';
  src: url('../fonts/opensans-semibold-webfont.eot');
  src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-semibold-webfont.woff') format('woff'), url('../fonts/opensans-semibold-webfont.ttf') format('truetype'), url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url('../fonts/opensans-light-webfont.eot');
  src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-light-webfont.woff') format('woff'), url('../fonts/opensans-light-webfont.ttf') format('truetype'), url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Light';
  src: url('../fonts/ProximaNova-Light_gdi.eot');
  src: url('../fonts/ProximaNova-Light_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Light_gdi.woff') format('woff'), url('../fonts/ProximaNova-Light_gdi.ttf') format('truetype'), url('../fonts/ProximaNova-Light_gdi.otf') format('opentype'), url('../fonts/ProximaNova-Light_gdi.svg#ProximaNova-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2666;
}
@font-face {
  font-family: 'proxima_nova_regular';
  src: url('../fonts/proximanova-reg-webfont.eot');
  src: url('../fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-reg-webfont.woff') format('woff'), url('../fonts/proximanova-reg-webfont.ttf') format('truetype'), url('../fonts/proximanova-reg-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_semibold';
  src: url('../fonts/proximanova-sbold-webfont.eot');
  src: url('../fonts/proximanova-sbold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-sbold-webfont.woff2') format('woff2'), url('../fonts/proximanova-sbold-webfont.woff') format('woff'), url('../fonts/proximanova-sbold-webfont.ttf') format('truetype'), url('../fonts/proximanova-sbold-webfont.svg#proxima_novasemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_bold';
  src: url('../fonts/proximanova-bold-webfont.eot');
  src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-bold-webfont.woff2') format('woff2'), url('../fonts/proximanova-bold-webfont.woff') format('woff'), url('../fonts/proximanova-bold-webfont.ttf') format('truetype'), url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaushanScript-Regular';
  src: url('../fonts/KaushanScript-Regular_gdi.eot');
  src: url('../fonts/KaushanScript-Regular_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/KaushanScript-Regular_gdi.woff') format('woff'), url('../fonts/KaushanScript-Regular_gdi.ttf') format('truetype'), url('../fonts/KaushanScript-Regular_gdi.otf') format('opentype'), url('../fonts/KaushanScript-Regular_gdi.svg#KaushanScript-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2265;
}
/***************************
****************************
General
****************************
***************************/
.font-settings {
  font-family: 'open_sansregular';
  font-size: 15px;
  line-height: 27px;
  color: #434648;
}
body {
  background-color: white;
  font-family: 'open_sansregular';
  font-size: 15px;
  line-height: 27px;
  color: #434648;
}
a {
  color: #434648;
}
a:hover {
  color: #434648;
  text-decoration: none;
}
.logo {
  margin: 0;
}
.logo a {
  display: inline-block;
  background: url("../images/logo.png") no-repeat 0 0;
  width: 213px;
  height: 70px;
  text-indent: -9999px;
}
.bg-white {
  background-color: white;
}
.box-shadow {
  box-shadow: 0 0 5px -1px #000000;
}
.site-padding {
  padding: 45px 0;
}
.site-padding-bottom {
  padding-bottom: 45px;
}
.site-padding-top {
  padding-top: 45px;
}
.site-padding-double {
  padding: 90px 0;
}
.site-border-bottom {
  border-bottom: 1px solid #eff2f2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #555555;
  font-family: 'open_sanslight';
  line-height: normal;
  margin: 0;
}
/***************************
****************************
Buttons & Links
****************************
***************************/
.my-btn {
  font-family: 'proxima_nova_semibold';
  color: white;
  border-radius: 4px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  line-height: normal;
  text-align: center;
  box-shadow: 0 1px 2px -1px #000000;
}
.my-btn:hover {
  color: white;
}
.my-btn.btn-1 {
  background-color: #e60000;
}
.my-btn.btn-1:hover {
  background-color: #c70202;
}
.my-link {
  color: white;
  font-family: 'ProximaNova-Light';
}
.my-link:hover {
  color: white;
}
.my-link.link-1 {
  display: inline-block;
  background: url("../images/bg-link-1.png") no-repeat 100% 0;
  padding-right: 62px;
  line-height: 46px;
  font-size: 26px;
  opacity: 0.8;
}
.my-link.link-1:hover {
  opacity: 1;
}
.link-store {
  width: 110px;
  height: 40px;
  display: inline-block;
  text-indent: -9990px;
  opacity: 0.8;
}
.link-store:hover {
  opacity: 1;
}
.link-store.apple-store {
  background: url("../images/link-apple-store.png") no-repeat 0 0;
}
.link-store.google-store {
  background: url("../images/link-google-play.png") no-repeat 0 0;
}
/***************************
****************************
Nav Styles
****************************
***************************/
.nav-text-settings {
  color: #474d5a;
  font-family: 'proxima_nova_semibold';
  text-transform: uppercase;
  font-size: 13px;
}
#nav {
  background-color: #e60000;
  padding-bottom: 8px;
}
#nav .bg-white {
  height: 103px;
  box-shadow: 0 0 5px -1px #000000;
}
#nav .logo {
  float: left;
  margin-top: 13px;
}
#nav #main-menu {
  float: right;
  line-height: 103px;
  height: 103px;
}
#nav #main-menu .main-menu {
  float: left;
  margin-right: 35px;
}
#nav #main-menu .btn-1 {
  width: 133px;
  height: 44px;
  line-height: 44px;
}
.main-menu {
  margin: 0;
}
.main-menu li {
  float: left;
  margin-left: 45px;
}
.main-menu li:first-child {
  margin-left: 0;
}
.main-menu li:last-child a {
  color: #8dc63f;
}
.main-menu li:last-child a:hover {
  color: #7aaa37;
}
.main-menu li a {
  color: #474d5a;
  font-family: 'proxima_nova_semibold';
  text-transform: uppercase;
  font-size: 13px;
  border-top: 8px solid white;
  height: 103px;
  display: block;
  line-height: 95px;
}
.main-menu li a:hover {
  color: #8dc63f;
}
.main-menu li.active a {
  border-top: 8px solid #8dc63f;
}
.main-menu li.active a:hover {
  color: #474d5a;
}
/***************************
****************************
Home Header Styles
****************************
***************************/
.quotes-1 {
  font-family: 'KaushanScript-Regular';
  font-size: 28px;
  display: inline-block;
  height: 45px;
  line-height: 45px;
}
.quotes-1 span {
  display: inline-block;
  height: 45px;
  line-height: 45px;
}
.quotes-1 > span {
  background: url("../images/figure-1.png") no-repeat 0 0;
  padding-left: 30px;
}
.quotes-1 > span > span {
  background: url("../images/figure-2.png") no-repeat 100% 0;
  padding-right: 30px;
}
.header {
  position: relative;
}
.header h1 {
  font-family: 'ProximaNova-Light';
  color: white;
  font-size: 61px;
  line-height: 63px;
  margin: 0;
}
.header p {
  color: white;
  margin: 0;
  font-size: 19px;
  line-height: 31px;
}
.header .lines,
.header .hand {
  position: absolute;
  bottom: 0;
}
.header.home {
  height: 770px;
}
.header.home .header-home-text {
  width: 50%;
  padding-top: 150px;
}
.header.home .header-home-text h1 {
  margin-bottom: 35px;
}
.header.home .lines {
  left: 50%;
  margin-left: -1700px;
}
.header.home .hand {
  right: 73px;
}
.header.home .links {
  margin-top: 50px;
  line-height: 54px;
}
.header.home .links > * {
  display: inline-block;
}
.header.home .links .quotes-1 {
  margin-left: 38px;
  font-size: 28px;
  vertical-align: middle;
}
.header.home .links .btn-1 {
  width: 178px;
  height: 54px;
  line-height: 54px;
  font-size: 18px;
}
.header.home .link-1 {
  z-index: 10;
  position: absolute;
  bottom: 23px;
  right: 0;
}
.header.home .store-links {
  z-index: 10;
  position: absolute;
  bottom: 27px;
  left: 0;
}
.header.home .store-links a {
  margin-right: 13px;
}
#home-header {
  background: url("../images/bg-header-home.jpg") no-repeat scroll 50% 0 / cover;
  overflow: hidden;
}
/***************************
****************************
Features Styles
****************************
***************************/
#features {
  overflow: hidden;
  position: relative;
}
#features .lines {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -1700px;
}
.font-settings-2 {
  font-size: 17px;
  line-height: 24px;
}
.feature {
  text-align: center;
}
.feature h4 {
  font-family: 'open_sansregular';
  margin: 15px 0;
  background: url("../images/bg-line-1.png") no-repeat 50% 100%;
  font-size: 17px;
  line-height: 24px;
  padding-bottom: 25px;
}
/***************************
****************************
Small Features Styles
****************************
***************************/
#small-features h3 {
  background: url("../images/bg-line-2.png") no-repeat 50% 100%;
  margin: 0;
  text-align: center;
  padding-bottom: 45px;
  margin-bottom: 45px;
}
.small-feature {
  text-align: center;
}
.small-feature > div {
  height: 63px;
  line-height: 63px;
  margin-bottom: 15px;
}
.small-feature > div img {
  vertical-align: middle;
}
.small-feature h4 {
  font-family: 'open_sansregular';
  font-size: 17px;
}
/***************************
****************************
Analyze Styles
****************************
***************************/
#analyze {
  background: url("../images/bg-figures.jpg") no-repeat scroll 50% 0 / cover;
}
.analyze-wrapper {
  height: 621px;
  position: relative;
}
.analyze-wrapper .phone {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -162px;
}
.analyze-wrapper h3 {
  background: url("../images/bg-line-3.png") no-repeat 0 100%;
  font-size: 40px;
  line-height: 44px;
  margin: 0 0 40px 0;
  padding-top: 120px;
  padding-bottom: 40px;
}
/***************************
****************************
Goals Styles
****************************
***************************/
#goals {
  text-align: center;
}
#goals h3 {
  background: url("../images/bg-line-3.png") no-repeat 50% 100%;
  font-size: 40px;
  margin-bottom: 25px;
  padding-bottom: 25px;
}
#goals p {
  margin: 0;
}
.goal {
  text-align: center;
}
