h1 {
  color: green;
}
/***************************
****************************
Responsive
****************************
***************************/
.show-xs,
.show-s,
.show-m,
.show-xl {
  display: none;
}
@media (min-width: 1200px) {
  .hide-xl {
    display: none !important;
  }
  .show-xl {
    display: block;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .hide-m {
    display: none !important;
  }
  .show-m {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .hide-s {
    display: none !important;
  }
  .show-s {
    display: block;
  }
}
@media (max-width: 767px) {
  .hide-xs {
    display: none !important;
  }
  .show-xs {
    display: block;
  }
}
